<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hrca.hrvoje.companymanager"
    android:installLocation="auto">

    <application
        android:name="com.hrca.hrvoje.companymanager.AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8610807363905439~7909750909"/>
        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_instructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoresActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_scores"
            android:screenOrientation="portrait" />
    </application>

</manifest>
